.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}
.cl-primary{
 color: #f0c674;
}

.strong{
    font-weight: 600;
}

.mt-05{
    margin-top: 5px;
}

.mt-1{
    margin-top: 10px;
}

.d-none{
    display: none !important;
}

.pb-1{
    padding-bottom: 10px;
}

.w-100{
    width: 100%  !important;
}

.g-cl-2 {
    grid-column: span 2;
}