#musicBox h3 {
  padding-bottom: 1rem;
}
  
.music-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.music-title {
  flex: 1;
  text-align: center;
  color: #ddd;
  font-weight: bold;
}

.btn-music {
  font-weight: bold;
  padding: 4px 10px;
}

.music-progress {
  text-align: center;
  margin-bottom: 8px;
}

#musicProgressBarContainer {
  width: 100%;
  height: 6px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 4px;
}

#musicProgressBar {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, rgb(240,198,116), rgb(220,170,90));
  transition: width 0.1s linear;
}

#musicTime {
  font-size: 12px;
  color: #aaa;
}

.music-volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#musicVolume {
  flex: 1;
}

#eventsList {
  max-height: 250px; /* reduce a bit to make space */
  overflow-y: auto;
}

#musicVolume {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  background: linear-gradient(90deg, rgb(240,198,116), rgb(220,170,90));
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}
#musicVolume::-webkit-slider-thumb,
#musicVolume::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #fff;
  border: 2px solid gold;
  border-radius: 50%;
  cursor: pointer;
}

#musicVolume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid gold;
  cursor: pointer;
}