.return-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.return-content {
  background: var(--main-bg-color);
  border-radius: 10px;
  padding: 20px 30px;
  text-align: center;
  color: #fff;
  max-width: 400px;
}

.return-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  gap: 25px;
}

.return-buttons button {
  padding: 8px 14px;
  border-radius: 6px;
}

.bg-gold {
    background-color: gold !important;
}

.cl-black{
    color: #111 !important;
}

.subtitle-bottom-left {
    position: absolute;
    bottom: 8px;    /* distance from top */
    left: 8px;   /* distance from left */
    font-size: 14px;
    color: #ccc;
    font-weight: bold;
    z-index: 100; /* ensure it's above the canvas/UI */
    text-shadow: 0 0 4px rgba(0,0,0,0.8); /* subtle glow */
}

/* mini map *//*
#minimapContainer {
  margin-top: 10px;
  width: 220px;
  padding: 6px;
  background: #171717;
  border: 1px solid #444;
  border-radius: 6px;
  display: inline-block;
}*/

#minimap {
  display: grid;
  gap: 1px;
}

.minimap-tile {
  width: 12px;
  height: 12px;
}

.minimap-tile.path { background: #8B6D4F; }
.minimap-tile.block { background: #3F7D3C; }
.minimap-tile.sky { background: transparent; }
/* mini map */

/* Abilites */
.build-mode-switcher {
  display: flex;
  justify-content: center;
  margin: 0px 0;
  gap: 8px;
  z-index: 2;
}
:root {
  /* Default theme (Classic) */
  --bg-color: #1e1e1e;
  --ui-bg: rgba(0, 0, 0, 0.4);
  --ui-text: #ffffff;
  --accent: #00bcd4;
  --tile-color: #333;
  --enemy-color: #ff4444;
  --tower-color: #00e5ff;
  --particle-color: #66ffff;

  --main-bg-color: #3e3223;
  --items-bg-color: #8B4513;
}
.switch-btn {
  background-color:  var(--items-bg-color);
  color: #ccc;
  border: 2px solid var(--items-bg-color);
  border-radius: 8px;
  padding: 6px 14px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.switch-btn:hover {
  background:  var(--items-bg-color);
}

.switch-btn.active {
  background: var(--items-bg-color);;
  color: #fff;
  border-color: gold;
}

#abilityBar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.ability-card {
  position: relative;
  background-color: rgb(157, 80, 41);
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 6px;
  padding: 10px;
  width: 200px;
  color: white;
  text-align: center;
  border: 2px solid transparent;
  transition: all 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.ability-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  border-color: #aaa;
}

.ability-card.placing {
  border-color: #ffb347;
  box-shadow: 0 0 10px #ffb347;
}

.ability-card .ability-icon {
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.ability-card .ability-name {
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin-bottom: 5px;
}

.ability-card .desc {
  font-size: 12px;
  opacity: 0.85;
  margin-bottom: 6px;
}

.ability-card .stats {
  font-size: 12px;
  color: #ccc;
}

.cooldown-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  border-radius: 10px;
  transition: height linear;
  pointer-events: none;
}

.ability-card.placing {
  border-color: #f5aa42; /* highlight color when placing */
}
.ability-icon { font-size: 20px; width:32px; text-align:center; }
.ability-info { font-size: 12px; text-align: left; }
.ability-meta { font-size: 11px; opacity: 0.8; display:flex; gap:8px; flex-direction: column; }
.ability-timer { font-size:11px; color:#f55; margin-top:4px; }
.ability-bar {display: flex; justify-content: space-around;}
.shopAndAbilitiesWrap{
  margin-top: -33px;
  z-index: 1;
}

#abilityModeBtn {
  display: none; /* hidden by default */
}

.ability-desc{
  font-size: 13px;
}
/* Abilites */