/* Version popup styling */
#versionPopupContent {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  max-width: 700px;
  color: #fff;
  max-height: 500px;
  overflow-y: scroll;
}
#versionList {
  margin-top: 10px;
}
#versionList h3 {
  color: gold;
  margin-bottom: 4px;
}
#versionList ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 12px;
}
