.wave-card{
    margin: 1rem;
    background-color: #2e261d;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #5c2e0e;
}

.enemy-card {
    float: left;
    margin: 1rem;
}
.enemy-types-editor input {
    width: 100%;
    box-sizing: border-box; 
    background-color: transparent !important; 
    box-shadow: 0 0 0 1000px #967456 inset !important; 
    color: #f0f0f0 !important;
    -webkit-text-fill-color: #f0f0f0 !important; 
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #555;
    border-radius: 4px;
    transition: background-color 5000s ease-in-out 0s; 
}

.enemy-types-editor input:-internal-autofill-selected {
    color: #f0f0f0 !important; 
}

.enemy-types-editor input::placeholder {
    color: #f0f0f0 !important; 
}

.enemy-types-editor input:-internal-autofill-selected {
    background-color: #967456 !important;
    color: #f0f0f0 !important;
}

.enemyTypesEditorDescription{
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

.wave-card input{
    background-color: #967456;
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #555;
    color: #f0f0f0;
    border-radius: 4px;
}

.wave-card input::placeholder {
  color: white; /* Change this to your desired color */
  opacity: 1; /* Ensure full opacity if needed, as some browsers default to lower opacity */
}
.wave-card select{
    background-color: #967456;
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #555;
    color: #f0f0f0;
    border-radius: 4px;
}

.card-body-inner label, .card-header-inner label{
    margin-top: 8px;
    margin-bottom: 4px;
}